  <div id="announce">
    <article>
      <header id="announce_header">
        <h1>[%- announce.title -%]</h1>
      </header>

      <div id="announce_content">
        <p>
          [% FILTER html_line_break %]
          [% announce.content %]
          [% END %]
        </p>
      </div>
      <footer id="announce_footer">
        <p>Posted by: [% announce.author %] ([% announce.date %])</p>
        <p><time pubdate datetime="[% announce.date %]"></time></p>
      </footer>
    </article>
  </div>
