[% WRAPPER frame_noannounce.html
   title = 'Community Announcements'
   page_url = site_url _ '/announce/'
%]

<div class="row mb-3">
  <div class="col-12">
    <h1>Community Announcements</h1>

    [% IF posts.size %]
    <div class="announcements-list">
      [% FOREACH post IN posts %]
      <div class="announce-item mb-4 pb-3 border-bottom">
        <h3><a href="/announce/[% post.slug %].html">[% post.title %]</a></h3>
        <p class="meta">[% post.date %]</p>
        [% IF post.excerpt %]
        <p>[% post.excerpt %]</p>
        [% END %]
        <a href="/announce/[% post.slug %].html" class="read-more">Read more &rarr;</a>
      </div>
      [% END %]
    </div>
    [% ELSE %]
    <p>No announcements at this time.</p>
    [% END %]
  </div>
</div>

[% END %]
