[% INCLUDE header.html %]

<div class="row">

<div class="large-9 columns" role="content">

[% content %]

</div>

    <!-- Sidebar -->

    <aside class="large-3 columns">

      <div class="panel">
      <h4>Discussions</h4>
      <ul>
      <li>
      <a href=https://www.facebook.com/groups/hklug/>HKLUG<br/>Facebook Group</a>
      </li>
      </ul>
      </div>

      <div class="panel">
      <!-- Facebook Badge START --><a href="https://www.facebook.com/hkcota" target="_TOP" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" title="Hong Kong Creative Open Technology Association">Hong Kong Creative Open Technology Association</a><br/><a href="https://www.facebook.com/hkcota" target="_TOP" title="Hong Kong Creative Open Technology Association"><img src="https://badge.facebook.com/badge/268856993278625.379.1594846107.png" style="border: 0px;" /></a><br/><a href="https://www.facebook.com/advertising" target="_TOP" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" title="Make your own badge!">Promote Your Page Too</a><!-- Facebook Badge END -->
      </div>
      <div class="panel">
<!-- Facebook Badge START --><a href="https://www.facebook.com/opensourcehk" target="_TOP" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" title="Open Source Hong Kong">Open Source Hong Kong</a><br/><a href="https://www.facebook.com/opensourcehk" target="_TOP" title="Open Source Hong Kong"><img src="https://badge.facebook.com/badge/125004884222147.1689.1132270185.png" style="border: 0px;" /></a><br/><a href="https://www.facebook.com/advertising" target="_TOP" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" title="Make your own badge!">Promote Your Page Too</a><!-- Facebook Badge END -->
     </div>
     <div class="panel">
<!-- Facebook Badge START --><a href="https://www.facebook.com/hkoscon" target="_TOP" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" title="Hong Kong Open Source Conference">Hong Kong Open Source Conference</a><br/><a href="https://www.facebook.com/hkoscon" target="_TOP" title="Hong Kong Open Source Conference"><img src="https://badge.facebook.com/badge/1374272242840989.11018.1741971913.png" style="border: 0px;" /></a><br/><a href="https://www.facebook.com/advertising" target="_TOP" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" title="Make your own badge!">Promote Your Page Too</a><!-- Facebook Badge END -->
    </div>


    </aside>

    <!-- End Sidebar -->


</div>

[% INCLUDE footer.html %]
