<!DOCTYPE html>

<!-- header start -->

<html dir="ltr" lang="en-US">
<head>
  <meta charset="UTF-8" />
  <title>[% title %]</title>
  <link rel="stylesheet" type="text/css" media="all" href="/style/main.css" />
</head>

<body>

  <header id="header">

    <hgroup>
      <div id="site-logo">
        <a href="">
          <img src="/images/logo.png" width="107" height="135" alt="HKLUG LOGO" />
        </a>
      </div>
      <div id="site-title-group">
        <h1 id="site-title"><span><a href="/" title="Hong Kong Linux User Group" rel="home">Hong Kong Linux User Group</a></span></h1>
        <h2 id="site-description">香港Linux用家協會 (HKLUG)</h2>
      </div>
    </hgroup>

   </header>
  <hr />
  [% INCLUDE menu.html %]
  <hr />

<!-- header end -->
