<!DOCTYPE html>

<!-- header start -->

<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hong Kong Linux User Group (HKLUG)</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/js/vendor/modernizr.js"></script>
  </head>
  <body>


  [% INCLUDE menu.html %]

   <div class="row">
    <div class="large-3 columns">
      <h1><img src="/images/logo.png" /></h1>
    </div>
    <div class="large-9 columns">
      <ul class="right button-group">
        <h2 class="text-right">Hong Kong Linux User Group<br />香港Linux用家協會 (HKLUG)</h2>
      </ul>
     </div>
   </div>

<!-- End Header -->

<!-- First Band (Slider) -->

<!--
  <div class="row">
    <div class="large-12 columns">
    <ul class="example-orbit" data-orbit>
      <li><img src="/img/HKOSC2014-1000x250.jpg" /></li>
      <li><img src="/img/HKOSC2013-1000x250.jpg" /></li>
      <li><img src="/img/GNOME2012-1000x250.jpg" /></li>
    </ul>

    <hr />
    </div>
  </div>
-->
<!-- header end -->
