<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="UTF-8" />
  <title>[% title %]</title>
</head>

<body>

  <header id="header">
    <h1>Hong Kong Linux User Group</h1>
  </header>

  <nav id="menu">
    <a href="/">News</a> |
    <a href="/archive/">Archive</a> |
    <a href="/about.html">About</a> |
    <a href="/contact.html">Contact</a>
  </nav>
  <hr />

  <div id="main">
    <nav id="nav">
      <a href="/">|&lt&lt</a> |
      <a href="/">&lt</a> |
      <a href="/">&gt</a> |
      <a href="/">&gt&gt|</a> 
    </nav>

    <article id="news">
      <header id="news_header">
        <h1>Internet Explorer 9</h1>
      </header>

      <div id="news_content">
      <p>Windows Internet Explorer 9 (abbreviated as IE9) was released to
      the  public on March 14, 2011 at 21:00 PDT.....</p>

      <footer id="news_footer">
        <p>Posted by: Hege Refsnes</p>
        <p><time pubdate datetime="2012-03-01"></time></p>
      </footer>
    </article>


    <nav id="nav">
      <a href="/">|&lt&lt</a> |
      <a href="/">&lt</a> |
      <a href="/">&gt</a> |
      <a href="/">&gt&gt|</a>
    </nav>

  </div>

  <hr />
  <nav id="menu">
    <a href="/">News</a> |
    <a href="/archive/">Archive</a> |
    <a href="/about.html">About</a> |
    <a href="/contact.html">Contact</a> 
  </nav>

  <footer>
    <p>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/hk/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/hk/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/hk/">Creative Commons Attribution-ShareAlike 3.0 Hong Kong License</a>.
    <br />
    Copyright © 2012 Hong Kong Linux User Group.
    </p>
  </footer>


</body>
