  <!-- post nav start -->
  <nav aria-label="Article navigation" class="my-3">
    <ul class="pagination justify-content-center flex-wrap">
      <li class="page-item"><a class="page-link" href="[%- url.front -%]">&laquo;&laquo;</a></li>
      <li class="page-item"><a class="page-link" href="[%- url.prev -%]">&laquo;</a></li>
      <li class="page-item"><a class="page-link" href="[%- url.home -%]">[%- url.hometitle -%]</a></li>
      <li class="page-item"><a class="page-link" href="[%- url.next -%]">&raquo;</a></li>
      <li class="page-item"><a class="page-link" href="[%- url.end -%]">&raquo;&raquo;</a></li>
    </ul>
  </nav>
  <!-- post nav end -->
