* {
  margin: 5;
  outline: 5; 
  padding: 0; 
  vertical-align: baseline;
}

#header {
  background-color:#b0d8ee;
}

#header hgroup {
  margin: 0 20px;
  height: 145px;
}

#site-title-group {
  margin: 0 0 0 0;
  padding: 40px 60px 0 0;
}

#site-description {
}
#site-title a {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    text-decoration: none;
    width: auto;
}
#site-description {
   color: #4a4a4a;
   font-size: 18px;
   width: auto;
}

#site-logo {
  float:left;
  margin:5px;
}
