html {
  background: url(../images/bg.png);
}
body { 
  background: transparent;
}

#header {margin-bottom: 20px;}
#site-logo {
display: inline-block;
margin: -51px 0;
position: relative;
z-index: 1000;
}
#content .rowann {
  padding: 10px 20px;
  margin-bottom: 1em;
}
#content .row {
  background-color: #fff;
  padding: 10px 20px;
  margin-bottom: 1em;
}
#content h1 {
  font-size: 34px;
  color: #333;
}

#content h2 { font-size: 27px; }
#content h3 { font-size: 23px; }
#content h4 { font-size: 17px; }
#content h5 { font-size: 14px; }
#content h6 { font-size: 14px; }
